@tailwind base;
@tailwind components;
@tailwind utilities;

[type=file]:focus {
    outline: 1px auto inherit
}

input[type=file]::file-selector-button {
    -webkit-margin-start: -1rem;
    -webkit-margin-end: 1rem;
    background: #1f2937;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    margin-inline-end:1rem;margin-inline-start:-1rem;padding: .625rem 1rem .625rem 2rem
}

input[type=file]::file-selector-button:hover {
    background: #374151
}

/* custom scrollbar */
/* ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #7d818e;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f6c91;
} */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }